<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="All" logKnownPii="true">
        <listeners>
          <add name="traceListener"/>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="All">
        <listeners>
          <add name="traceListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\WcfLogs\Client.svclog"/>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logKnownPii="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="500"/>
    </diagnostics>
    <extensions>
      <behaviorExtensions>
        <add name="dualCertificateClientCredentials" type="WcfWsSecurity.Client.WcfExtensions.DualCertificateClientCredentialsElement, WcfWsSecurity.Client" />
      </behaviorExtensions>
    </extensions>
    <client>
      <!-- Client endpoint for WS-Security on HTTP -->
      <endpoint address="http://10.10.10.75:3017/SampleService"
                 binding="customBinding"
                 bindingConfiguration="wsSecurity11Binding"
                 behaviorConfiguration="standardBehavior"
                 contract="WcfWsSecurity.Contracts.ISampleService"
                 name="sampleServiceWSS11Endpoint">
        <identity>
          <dns value="SampleService2"/>
        </identity>
      </endpoint>
      
      <!-- Client endpoint for WS-Security on HTTPS -->
      <!--<endpoint address="https://10.10.10.75:3019/SampleService" 
                binding="customBinding" 
                bindingConfiguration="wsSecurity11HttpsBinding" 
                behaviorConfiguration="httpsBehavior" 
                contract="WcfWsSecurity.Contracts.ISampleService" 
                name="sampleServiceHttpsAndWSS11Endpoint">
        <identity>
          <dns value="SampleService2"/>
        </identity>
      </endpoint>-->
      
      <!-- Client endpoint for WS-Security on HTTPS with different certificates for transport and message layer-->
      <!--<endpoint address="https://10.10.10.75:3019/SampleService"
                binding="customBinding"
                bindingConfiguration="wsSecurity11HttpsBinding"
                behaviorConfiguration="dualCertBehavior"
                contract="WcfWsSecurity.Contracts.ISampleService" 
                name="sampleServiceHttpsAndWSS11DualCertsEndpoint">
        <identity>
          <dns value="SampleService2"/>
        </identity>
      </endpoint>-->
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="standardBehavior">
          <clientCredentials>
            <clientCertificate findValue="feaebdc15f042a22468ff2a2442240a61499a6d4" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
            <serviceCertificate>
              <authentication certificateValidationMode="PeerTrust"/>
              <defaultCertificate findValue="8982d44b70cdf7668e54adf75a20b76aafd768c3" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindByThumbprint"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="httpsBehavior">
          <clientCredentials>
            <!--<clientCertificate findValue="91ddc7fa8047ff30a111b6caf1670b65ef9541bf" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />-->
            <clientCertificate findValue="feaebdc15f042a22468ff2a2442240a61499a6d4" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
            <serviceCertificate>
              <sslCertificateAuthentication certificateValidationMode="PeerTrust" trustedStoreLocation="LocalMachine"/>
              <authentication certificateValidationMode="PeerTrust"/>
              <defaultCertificate findValue="8982d44b70cdf7668e54adf75a20b76aafd768c3" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindByThumbprint"/>
              <!--<defaultCertificate findValue="5934e25f7f513fca76151f06bd40a34d765bbeb4" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindByThumbprint"/>-->
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="dualCertBehavior">
          <dualCertificateClientCredentials>
            <clientCertificate findValue="feaebdc15f042a22468ff2a2442240a61499a6d4" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
            <serviceCertificate >
              <sslCertificateAuthentication certificateValidationMode="PeerTrust" />
              <authentication certificateValidationMode="PeerTrust"/>
              <defaultCertificate findValue="8982d44b70cdf7668e54adf75a20b76aafd768c3" x509FindType="FindByThumbprint" storeLocation="LocalMachine" storeName="TrustedPeople"/>
            </serviceCertificate>
            <transportCertificate findValue="7001fb76014464ae7ce4b102c09b855e281e03b3" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
          </dualCertificateClientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="wsSecurity11Binding">
          <security defaultAlgorithmSuite="Basic128Sha256Rsa15"
                    authenticationMode="MutualCertificateDuplex" 
                    requireDerivedKeys="false" 
                    securityHeaderLayout="Lax" 
                    allowSerializedSigningTokenOnReply="true" 
                    includeTimestamp="true" 
                    messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" 
                    requireSignatureConfirmation="false">
            <secureConversationBootstrap/>
          </security>
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="wsSecurity11HttpsBinding">
          <security defaultAlgorithmSuite="Basic128Sha256Rsa15" 
                    authenticationMode="MutualCertificateDuplex" 
                    requireDerivedKeys="false" 
                    securityHeaderLayout="Lax" 
                    allowSerializedSigningTokenOnReply="true" 
                    includeTimestamp="true" 
                    messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" 
                    requireSignatureConfirmation="false">
            <secureConversationBootstrap/>
          </security>
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport requireClientCertificate="true"/>
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
</configuration>
